<div class="access-wrapper">
  <div class="logo-wrapper">
    <img
      class="logo"
      src="images/general/aspri-logo-biale.webp"
      [alt]="'ALT.ASPRI_LOGO' | translate"
    />
  </div>
  <div class="access-info-wrapper">
    <div class="access-info">
      <img
        src="images/general/flaga-polski.webp"
        [alt]="'FLAGS.PL' | translate"
      />
      <div>
        <p>Ta sesja dobiegła końca</p>
        <p>Zeskanuj ponownie kod QR dostępny w restauracji.</p>
      </div>
    </div>
    <div class="access-info">
      <img
        src="images/general/flaga-ang.jpeg"
        [alt]="'FLAGS.ANG' | translate"
      />
      <div>
        <p>This session has ended.</p>
        <p>Please scan the QR code available in the restaurant again.</p>
      </div>
    </div>
    <div class="access-info">
      <img
        src="images/general/flaga-niemiec.avif"
        [alt]="'FLAGS.GER' | translate"
      />
      <div>
        <p>Diese Sitzung ist beendet.</p>
        <p>
          Bitte scannen Sie den in der Gaststätte verfügbaren QR-Code erneut.
        </p>
      </div>
    </div>
    <div class="access-info">
      <img
        src="images/general/japonia-flaga.webp"
        [alt]="'FLAGS.JPN' | translate"
      />
      <div>
        <p>このセッションは終了しました。</p>
        <p>レストランにあるQRコードをもう一度スキャンしてください。</p>
      </div>
    </div>
    <div class="access-info">
      <img
        src="images/general/flaga-ukrainy.webp"
        [alt]="'FLAGS.UKR' | translate"
      />
      <div>
        <p>Цей сеанс завершено.</p>
        <p>Будь ласка, ще раз відскануйте QR-код, доступний у ресторані.</p>
      </div>
    </div>
  </div>
  <div class="qr-wrapper">
    <img
      src="images/general/qr-code-symbol.webp"
      [alt]="'ALT.QR_SYMBOL' | translate"
    />
  </div>
</div>
