@if(!inputValue.value && UiService.isSearchBarOpen()){
<div class="close-keyboard-bgd" (click)="closeSearchBar()"></div>
}

<div class="search-bar-container">
  <input
    [formControl]="inputValue"
    (keydown.enter)="closeKeyboard()"
    class="search-input"
    [class.active]="UiService.isSearchBarOpen()"
    type="text"
    [placeholder]="'GENERAL.SEARCH' | translate"
    [attr.aria-label]="'GENERAL.SEARCH' | translate"
  />

  <button
    class="button"
    [class.active]="UiService.isSearchBarOpen()"
    (click)="openSearchBar()"
  >
    <svg viewBox="0 0 24 24" class="search-icon">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      />
    </svg>
  </button>
</div>
